<div class="row mt-4">
    <div class="col-6">
        <p id="total-encontrados"><span>106.553</span> encontrados</p>
    </div>

    <div id="filters" class="col-6 d-flex justify-content-end gap-2">
        <button>
            <img style="transform: rotate(90deg);" width="18" src="../../../assets/imgs/more-relevant-icon.svg" alt="">
            <span style="word-wrap: none;">Mais relevantes</span> 
        </button>
        <button>
            <img width="18" src="../../../assets/imgs/categories-icon.svg" alt="">
        </button>
        <button>
            <img width="18" src="../../../assets/imgs/list-icon.svg" alt="">
        </button>
    </div>
</div>

<div id="cars-list" class="d-flex  gap-4 mt-5">
    <div class="item">

    </div>
    <div class="item">

    </div>
    <div class="item">

    </div>
    <div class="item">

    </div>
    <div class="item">

    </div>
    <div class="item">

    </div>
</div>