<!-- START NAV -->
<nav class="navbar">
  <div class="container">
      <div class="navbar-brand mx-auto">
          <img width="120" src="./assets/imgs/logo.png" alt="Logo">
      </div>
  </div>
</nav>
<!-- FIM NAV -->

<!-- MAIN START -->
<main>
  <div class="container p-4">
    <div class="row my-4">
      <div class="col">
        <div id="navigation" class="d-flex gap-2 ">
          <!-- NAVIGATION -->
          <button mat-stroked-button>Home</button>
          <button mat-stroked-button>Veículos</button>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <!-- TITLE -->
        <h1>Veículos encontrados</h1>
      </div>
    </div>

    <!-- LISTA DOS CARROS -->
    <listra-cars-list></listra-cars-list>

  </div>
</main>
<!-- MAIN END -->

<!-- FOOTER START -->
<footer class="p-5">
  <div class="container">
    <div class="row text-md-start text-center">
      <!-- ENCONTRE O SEU VEICULO -->
      <div class="col-md-2 d-none d-sm-block">
        <h3 class="fw-bold fs-6">Encontre o seu Veículo</h3>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Encontre o seu veículo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lojas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Promoções</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Vantagens</a>
          </li>
        </ul>
      </div>
      <!-- FIM ENCONTRE O SEU VEICULO -->

      <!-- A EMPRESA -->
      <div class="col-md-2 d-none d-sm-block">
        <h3 class="fw-bold fs-6">A Empresa</h3>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Delivery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Aviso de Privacidade</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog Seminovos</a>
          </li>
        </ul>
      </div>
      <!-- FIM A EMPRESA -->

      <!-- ATENDIMENTO -->
      <div class="col-md-2 d-none d-sm-block">
        <h3 class="fw-bold fs-6">Atendimento</h3>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Perguntas Frequentes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Fale Conosco</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pós-vendas</a>
          </li>
        </ul>
      </div>
      <!-- FIM ATENDIMENTO -->

      <!-- LOJISTAS -->
      <div class="col-md-2 d-none d-sm-block">
        <h3 class="fw-bold fs-6">Lojistas</h3>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Acesse Seminovos Atacado</a>
          </li>
        </ul>
      </div>
      <!-- FIM LOJISTAS -->

      <!-- ATENDIMENTO AO CLIENTE -->
      <div class="col-md-2 mt-3">
        <h3 style="font-size: 14px;" >Atendimento ao Cliente</h3>
        <div id="contact" class="d-flex gap-3 justify-content-md-start justify-content-center">
          <button class="btn btn-sm number">0800 000 000</button>
          <button class="btn btn-sm whatsapp">
            <img style="border-radius: 5px;" width="35" src="./assets/imgs/whatsapp.svg" alt="whatsapp icon">
          </button>
        </div>
      </div>
      <!-- FIM ATENDIMENTO AO CLIENTE -->

      <!-- SIGA A GENTE -->
      <div class="col-md-2 mt-3 text-md-center">
        <h3 class="fw-bold fs-6">Siga a gente</h3>
        <div class="d-flex gap-2 justify-content-md-start justify-content-center">
          <a href="#" class="btn btn-sm social-media">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="#"  class="btn social-media">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="#"  class="btn social-media">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="#"  class="btn social-media">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </div>
      <!-- FIM SIGA A GENTE -->
    </div>
  </div>
</footer>
<!-- FOOTER END -->